* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    text-transform: uppercase;
}

img {
    width: 8%;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.jpg);
}

.box {
    width: 18rem;
    height: 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-radius: 3px;
    font-family: 'Roboto', serif;
}

.item-card {
    position: absolute;
    height: 50px;
    width: 100%;
    text-transform: uppercase;
    font-size: .85rem;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.item-card img {
    width: 12%;
    vertical-align: middle;
}

.item-card:hover {
    background-color: rgb(241, 241, 241);
}

.link {
    color: rgb(162, 162, 162);
    font-weight: 500;
    margin-left: 15px;
}

.visa, .mastercard, .maestro {
    border-top: 1px solid rgba(230, 230, 230, 1.0);
    border-bottom: 1px solid rgba(230, 230, 230, 1.0);
    left: 0;
}

.visa {
    top: 95px;
}

.mastercard {
    top: 144px;
}

.maestro {
    top: 193px;
}

.checkout {
    background-color: rgb(91, 141, 218);
    text-align: center;
    padding: 10px 0 10px 0;
    position: absolute;
    width: 100%;
    height: 45px;
    bottom: 0;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: bold;
    color: rgb(249, 252, 255);
}

.checkout:active {
    height: 43px;
}

.checkout img {
    vertical-align: middle;
}