* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

p {
    text-transform: uppercase;
}

img {
    width: 8%;
}

a {
    text-decoration: none;
}

/*table {
    border-collapse: collapse;
    position: absolute;
}

td {
    height: 50px;
    border: 1px solid grey;
    border-right: none;
    border-left: none;
    padding-left: 1.9rem;
}*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(img/background.jpg);
}

.box {
    width: 18rem;
    height: 18rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: white;
    border-radius: 3px;
    font-family: 'Roboto', serif;
}

.item-card {
    position: absolute;
    height: 45px;
    width: 100%;
    text-transform: uppercase;
    font-size: .85rem;
}

.item-card:hover {
    background-color: rgb(241, 241, 241);
}

.item-card > a:active {
    color: rgb(170, 167, 167);
}

.item-card a:visited {
    font: bold;
}

.visa {
    top: 90px;
    border-top: 1px solid black;
    left: 0;
}

.mastercard {
    top: 135px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: 0;
}

.maestro {
    top: 179px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    left: 0;
    /*bottom: 500px;*/
}

.checkout {
    background-color: rgb(91, 141, 218);
    position: absolute;
    width: 100%;
    bottom: 0;
}